# ide
/.idea
/.vscode
/.claude
/.cursor
/.agents
*.swp
*.swo
*~

# os
.DS_Store
Thumbs.db
desktop.ini



# rust
/logs/
/target/
src-tauri/target/
**/*.rs.bk

# web
dist/
node_modules/

# other
*.orig
*.tmp
*.log
.env