# ide
/.idea
/.vscode
/.cursor
*.swp
*.swo
*~

# agent
.claude/
.agents/
.codex/
.superpowers/
.comet/


# os
.DS_Store
Thumbs.db
desktop.ini



# rust
/logs/
/target/
src-tauri/target/
**/*.rs.bk

# web
dist/
node_modules/

# other
*.orig
*.tmp
*.log
.env